*{
    padding: 0;
    margin: 0;
    font-family: arial;
    list-style-type: none;
    text-decoration: none;
}

.title {
    margin-bottom: 25px;
}

.title h2 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: normal;
}

.title p {
    color: #5F5F5F;
}

/*NAV*/
nav {
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

#left {
    display: flex;
    align-items: center;
}

nav img {
    width: 100px;
    height: 70px;
    margin-left: 50px;
}

#right, #right div {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav a {
    color: black;
}

/*HEADER*/
header {
    height: 800px;
    background-image: url("img/header.png");
}

/*TRANSITION ENERGETIQUE */
#transition-energetique, #accompagnement, #services, #form, #container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.container-card a {
    color: white;
}

.container-card, #container-stage {
    display: flex;
    justify-content: space-around;
}

#card1 {
    background-image: url("img/card1.png");
}

#card2 {
    background-image: url("img/imgcard2.png");
}

#card3 {
    background-image: url("img/imgcard3.png");
}

#card1, #card2, #card3, #card4, #card5, #card6 {
    height: 600px;
    width: 30%;
    display: flex;
    align-items: end;
    box-shadow: 0px 4px 8px #888888;
}



/* FORM */
/*#form {
    background-color: #5E8763;
    opacity: 0.8;
    width: 50%;
    height: 10%;
    border-radius: 10px;
    padding: 30px;
}

#form p{
    font-size: 20px;
}*/

.f2pl {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.fl {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

.fl input, .fl select {
    width: 100%;
}

/* ACCOMPAGNEMENT */
#container-stage {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.stage {
    background-color: rgba(54, 165, 5, 0.13);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin-right: 3%;
    text-align: center;
}

#container-stage img {
    width: 90px;
    height: 90px;
}

.stage div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

#accompagnement button, .container-card button {
    margin-top: 45px;
    border-radius: 10px;
    border: solid 3px #3AA406;
    font-weight: bold;
    font-size: 18px;
    color: #3AA406;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

#accompagnement button:hover {
    cursor: pointer;
    background-color: #f1f0f0;
}

#t {
    margin: auto;
    width: 350px;
}

/*SERVICES*/
#services .container-card{
    color: white;
}

.container-card button {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0px;
}

#card4 {
    background-image: url("img/imgcard4.png");
}

#card5 {
    background-image: url("img/imgcard5.png");
}

#card6 {
    background-image: url("img/imgcard6.png");
}

#card4 div, #card5 div, #card6 div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.container-card button:hover {
    cursor: pointer;
}

/* FORM FIN */
#form img {
    width: 300px;
}
